<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AngularJS App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.module.js"></script>
    <script src="app.controller.js"></script>
  </head>

  <body ng-app="myApp">
    <div ng-controller="appController">
      <div>
        Your name:
        <input
          type="text"
          ng-model="name"
          ng-keyup="displayNumeric()"
          ng-blur="upper()"
        />
      </div>

      <p>Total value {{totalValue}}</p>

      <p>{{sayMessage()}}</p>

      <button ng-click="feedMe()">Feed Me</button>

      <img ng-src="{{stateOfHungry}}" alt="">
    </div>
  </body>
</html>
