<!DOCTYPE html>
<html>
  <head>
    <title>AngularJS App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>

    <!-- source code -->
    <script src="app.module.js"></script>
    <script src="app.controller.js"></script>
  </head>

  <body ng-app="appModule">
    <div ng-controller="AppController">
      <button ng-click="showNumberOfWatcher()">Show number of watchers</button>

      <button ng-click="countOnce()">Up once Counter</button>
    </div>
  </body>
</html>
